.icons ul{
    list-style-type: none;
}
.add-btn button{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgba(248, 80, 14, 0.836);
    border: 0px;
    transition: 0.2s;
    margin-top: -20px;
}
.add-btn button:hover{
    background-color: rgba(196, 78, 32, 0.836);
}   
.c-red{
    color: rgba(248, 80, 14, 0.836);
}
.bg-dark-blue{
    background-color: rgb(32, 47, 70);
}
.container-with{
    width: 100%;
}